html {
  background: wheat;
  padding: 0%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
  background: tomato;
}

.section-title {
  color: brown;
}

h1 {
  color: beige;
  font-family: "Anton", sans-serif;
}

* {
    font-family: sans-serif;
  }

/* h1 {
  font-family: sans-serif;
} */
